

a {
    background-color: yellow;
  }
  
  a::before, a::after {
    display: block;
    background-color: lightgrey;
  }
  
  a::before {
    content: "<<"
  }
  
  a::after {
    content: ">>"
  }